<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XmlFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="InforPlan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <XmlFinder.Properties.Settings>
            <setting name="standardPdfPath" serializeAs="String">
                <value />
            </setting>
            <setting name="standardXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="isStandardChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="standardOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnderecoServidorFTP" serializeAs="String">
                <value />
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Senha" serializeAs="String">
                <value />
            </setting>
            <setting name="Posicoes" serializeAs="String">
                <value />
            </setting>
            <setting name="SisRecortar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SisRenomear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SisSitema" serializeAs="String">
                <value>False</value>
            </setting>
        </XmlFinder.Properties.Settings>
        <InforPlan.Properties.Settings>
            <setting name="standardPdfPath" serializeAs="String">
                <value />
            </setting>
            <setting name="standardXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="isStandardChecked" serializeAs="String">
                <value>False</value>
            </setting>
        </InforPlan.Properties.Settings>
    </userSettings>
</configuration>